<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="salacima.ec.edu.ups.est.salamultisensorial">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.Login"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ListPatients"
            android:screenOrientation="landscape" />
        <activity
            android:name=".presentation.ListModules"
            android:screenOrientation="landscape" />
        <activity
            android:name=".presentation.ModulesSelected"
            android:screenOrientation="landscape" />
        <activity
            android:name=".presentation.ModuleBubbleTube"
            android:screenOrientation="landscape" />
        <activity
            android:name=".presentation.ModuleStairwayLights"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ModulePiano"
            android:screenOrientation="landscape" />
        <activity
            android:name=".presentation.ModulePictograms"
            android:screenOrientation="landscape" />
        <activity
            android:name=".presentation.ModuleDice"
            android:screenOrientation="landscape" />
        <activity
            android:name=".presentation.RoomLight"
            android:screenOrientation="landscape" />
        <activity android:name=".presentation.About"></activity>
    </application>

</manifest>